/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */

body {
    background: linear-gradient(to right, grey, rgb(242, 242, 246)); 
}

*{
  font-family:sans-serif;
  font-weight:500;   
}

.card {
  /* Add shadows to create the "card" effect */
  background-color: #daebf5;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  border:5px solid #555;
}

.centered-block {
  display: block;
  margin: auto;
  max-height: 500px;
  max-width: 500px;
}

.content {
  max-width: 500px;
  margin: auto;
}
