<button (click)="toggleAdd()" (click)="eventConfirm=false" class="btn">Add Event</button>
<br><br>

<div *ngIf="AddEvent">
    <p>Category</p>
    <input type="text"[(ngModel)]="newEvent.category" id="category"/>
    <p>Name</p>
    <input type="text"[(ngModel)]="newEvent.name" id="name"/>
    <p>Date</p>
    <input type="date" class="form-control" [(ngModel)]="edate" [value] = "newEvent.date | date:'short'" id="date"/>
    <p>Time</p>
    <input type="time" class="form-control" [(ngModel)]="etime" [value] = "newEvent.date | date:'short'" id="time"/>
    <p>Location</p>
    <input type="text"[(ngModel)]="newEvent.location" id="location"/>

    <button (click)="addEvent()" (click)="toggleConfirm()" (click)="AddEvent=false" class="btn-primary">Add</button>
    </div>
    <div *ngIf="eventConfirm">
        <h2>{{eventName}} has been added!</h2>
    </div>
    <div *ngIf="!formcomplete">
        <h2 class="text-danger">Form not completed. Event not added.</h2>
    </div>


<h1>All Events</h1>
<ul>
    <div *ngFor="let e of events; index as i">
        <li class="card">
            <h3><a routerLink="/event/{{e.id}}">{{ e.name }}</a></h3>
            <p>{{ e.date | date:'short' }}</p>
        </li>
    </div>
</ul>

