<h2>Add Event</h2>
<div>
    <p>Category</p>
    <input type="text"[(ngModel)]="newEvent.category"/>
    <p>Name</p>
    <input type="text"[(ngModel)]="newEvent.name"/>
    <p>Date</p>
    <input type="text" class="form-control" placeholder="ex. MM/DD/YYYY HH:MM PM/AM" [(ngModel)]="newEvent.date" [value] = "newEvent.date | date:'short'"/>

    <p>Location</p>
    <input type="text"[(ngModel)]="newEvent.location"/>

    <button (click)="addEvent()">Add Event</button>
</div>


<h1>All Events</h1>
<ul>
    <div *ngFor="let e of events; index as i">
        <li><a routerLink="/event/{{ i + 1}}">{{ e.name }}</a></li>
    </div>
</ul>

