<h1>Favorites</h1>
<p>Enter UserName</p>
<input type="text" [(ngModel)]="user" (keydown.enter)="userFavorites(user)"/>
<button (click)="userFavorites(user)" class="btn-primary">Submit</button>
<br><br>
<div *ngIf="user.length>0">
        <div *ngFor="let f of favorites; index as i" class="card">
            <h3><a routerLink="/event/{{f.id}}">{{ f.name }}</a></h3>
                <p>{{ f.date | date:'short' }}</p>
                <button (click)="removeFavorite(i)">X</button>
        </div>
</div>

 