<h1>{{ result.name }}</h1>
<p>{{ result.category }}</p>
<p>{{ result.date | date:'short' }}</p>
<p>{{ result.location }}</p>
<button (click)="toggleAddFavorite()" (click)="favConfirm=false" class="btn">Add to Favorites</button>
<div *ngIf="addFav">
    <br>
    <p>Add UserName</p>
    <input type="text"[(ngModel)]="newFavorite.userName" (keydown.enter)="user"/>
    <button (click)="addFavorite()" (click)="toggleFavConfirm()" (click)="addFav=false" class="btn-primary">Submit</button>
</div>
    <div *ngIf="favConfirm">
        <h3><br>{{newFavorite.userName}} added {{result.name}} to <a routerLink="/favorites">Favorites List.</a></h3>
    </div>

<br><br>
<p><a routerLink="/event">Back to All Events</a></p>
