<h1>{{ result.name }}</h1>
<p>{{ result.category }}</p>
<p>{{ result.date | date:'short' }}</p>
<p>{{ result.location }}</p>
<button (click)="toggleAddFavorite()" (click)="favConfirm=false" class="btn">Add to Favorites</button>
<div *ngIf="addFav">
    <br>
    <p>Select Username or add new</p>
    <input list="usernames" name="usernames" [(ngModel)]="newFavorite.userName" (keydown.enter)="user" 
    (keydown.enter)="addFavorite()" (keydown.enter)="toggleFavConfirm()" (keydown.enter)="addFav=false" /><datalist id="usernames">
        <option *ngFor="let user of usernames" [value]="user">
</datalist>
    <button (click)="addFavorite()" (click)="toggleFavConfirm()" (click)="addFav=false" class="btn-primary">Submit</button>
</div>
    <div *ngIf="favConfirm">
        <h3><br>{{newFavorite.userName}} added {{result.name}} to <a routerLink="/favorites">Favorites List.</a></h3>
    </div>

<br><br>
<p><a routerLink="/event">Back to All Events</a></p>
